.modal
    background-color white
    border-radius 4px
    padding-left 10px
    padding-right 10px
    display table
    width: 50%
    top 50%

    > .modal-header
        margin-top -10px
        padding-left 15px
        padding-right 15px
        cursor move
        > a.close
            margin-top 20px

    > .modal-footer
        padding-left 15px
        padding-right 15px
        margin-left -10px
        width 103%
        background-color #eee
