.modal
    background-color white
    border-radius 4px
    display table
    width: 50%
    top 50%
    z-index 99999

    > .modal-header
        margin-top -10px
        padding-left 30px
        padding-right 30px
        cursor move
        > a.close
            margin-top 20px

    > .modal-body
        padding 25px

    > .modal-footer
        background-color #eee


.modal-bg
    background-color rgba(0,0,0,0.5)
    opacity 1!important
    z-index 9999

