.datagrid
    table
        thead
            tr:nth-child(1)
                th
                    color white

            tr:nth-child(2)
                border-left 1px solid #ddd
                border-right 1px solid #ddd
                th
                    color #333


    td
        vertical-align middle
        font-weight 400

    th
        vertical-align middle
        font-weight 400!important
        text-transform uppercase
        line-height 40px

        h5
            font-weight 400
            text-transform uppercase

    a.btn
        color white
        zoom 1.1
        text-transform uppercase

    span.label
        width 100%
        font-size 12px
        font-weight 500
        padding 10px
        text-transform uppercase
        abbr
            border none


    abbr
        border none!important

.datagrid-footer-right
    position relative
    bottom 5px

    button
        margin-left 10px
