#id_toolbar
    min-height 80px
    background-color white

    .container
        padding-top 15px

    .navbar-brand
        padding 0px
        img
            max-width 325px

    ul
        li
            a
                border-radius 5px
                text-transform uppercase
                font-size 16px
                transition all .2s

                &:hover
                    background #f79500
                    color white

                    span
                        color white

