.logoHome
    img
        max-width 100%

#start
    margin-top 120px

.loginBox
    position relative
    top 60px
    border-radius 10px
    width 350px
    height: 140px
    padding 10px
    background-color white

    table
        position relative
        width 100%
        margin-top -5px
        tr
            height 45px

            input
                width 94%
