#profile
    .account-overview-table
        strong
            font-weight 500

        .account-overview-verified

            span
                width 100%
                text-transform uppercase
                padding-top 5px
                padding-left 15px
                padding-right 15px
                font-size 12px
