#offerbook

    form.panel
        box-shadow none

    div.col-md-6:nth-child(1)
        border-right 1px solid #ddd

    .row .uniform-control-holder
        font-size 16px
        height 65px

    button
        width 100%

    .advanced-order-entry
        padding-left 30px
        padding-right 30px
        padding-top 20px
        padding-bottom 0px

    .body-tables
        min-height 320px
        padding 0px
