// /* Large Devices, Wide Screens */
@media (max-width: 1200px){
}



// /* Medium Devices, Desktops */
@media (max-width: 992px)

    #id_toolbar
        height initial

    .loginBox
        width 100%!important

        input
            width 97%!important

// /* Small Devices, Tablets */
@media (max-width: 768px)

    .blur
        width 100%

    .loginBox
        width 100%!important

        input
            width 97%!important

    #id_toolbar
        .container
            text-align center
        ul
            float none
            display inline-flex

// /* Custom, iPhone Retina */ 
@media (max-width:  320px)

    .loginBox
        width 100%!important

        input
            width 97%!important

