//blocks
trading =
// #trading
    .simple-order-entry
        table
            width 100%
            td:nth-child(3)
                width 25%
            td
                padding 6px
                button
                    width 100%


// /* Large Devices, Wide Screens */
@media (min-width: 1200px)
    .menu
        ul
            li
                display table-cell

    #id_toolbar
        display block!important

@media(max-width: 1200px)
    .menu
        ul
            display table-row!important
            font-size 16px
            font-weight 300
            width 100%
            li
                width 100%

// /* Medium Devices, Desktops */
@media (min-width: 992px)

    #id_toolbar
        display block!important

    #trading
        {trading}

@media(max-width: 992px)

    body
        padding-top 160px

    .loginBox
        width 100%!important

    #id_toolbar
        display block!important
        .container
            display flex
            flex-direction column
            align-items center

            .navbar-collapse
                margin-top 20px
                margin-bottom 10px

    #trading
        {trading}

// /* Small Devices, Tablets */
@media (max-width: 768px)

    body
        padding-top 100px

    .loginBox
        width 100%!important

    #id_toolbar
        display block!important

        .container
            display block!important
            .navbar-brand
                img
                    max-width 225px
                    margin-top 5px

    .logoHome
        .lead
            margin-top 30px!important

    #my_broker
        .table-wallet
            table-layout fixed

