
.table
    thead
        tr:nth-child(1)
            background-color primary-color
            color white
        tr:nth-child(2)
            background-color white

    tbody
        background-color white;
        border 1px solid #ddd
