#trading

    div.col-md-6
        padding-bottom 15px
        padding-top 5px
        border-bottom 1px solid #ddd

    div.col-md-6:nth-child(-n+3)
        border-right 1px solid #ddd!important

    .simple-order-entry-text
        margin-left -10px
        font-size 16px

    div.datagrid
      margin-top 185px
