#trading

    div.col-md-6
        padding-bottom 15px
        padding-top 5px
        margin-bottom 20px
        border-bottom 1px solid #ddd

    div.col-md-6:nth-child(-n+3)
        border-right 1px solid #ddd!important

    .simple-order-entry-text
        font-size 16px

